keybinds {
    normal clear-defaults=true {
        bind "Alt d" { Detach; }
        bind "Alt q" { Quit; }

        bind "Alt p" { SwitchToMode "pane"; }
        bind "Alt r" { SwitchToMode "resize"; }
        bind "Alt t" { SwitchToMode "tab"; }
        bind "Alt s" { SwitchToMode "scroll"; }
        bind "Alt m" { SwitchToMode "move"; }
        bind "Alt g" { SwitchToMode "locked"; }

        bind "Alt n" { NewPane; SwitchToMode "normal"; }
        bind "Alt N" { NewTab; SwitchToMode "normal"; }

        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }

        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }

        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }

        bind "Alt f" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        
        bind "Alt F" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                    move_to_focused_tab true
            };
        }

        bind "F2" {
            SwitchToMode "RenamePane"; PaneNameInput 0;
        }
        bind "Alt R" {
            SwitchToMode "RenameTab"; TabNameInput 0;
        }

        /* bind "Alt f" { */
        /*     LaunchOrFocusPlugin "file:~/.config/zellij/plugins/monocle.wasm" { */
        /*         floating true */
        /*     } */
        /* } */
    }
    pane clear-defaults=true {
        bind "Alt p" "Ctrl c" "Esc" "Enter" { SwitchToMode "normal"; }
        bind "h"  { NewPane "Left"; SwitchToMode "normal"; }
        bind "l"  { NewPane "Right"; SwitchToMode "normal"; }
        bind "j"  { NewPane "Down"; SwitchToMode "normal"; }
        bind "k"  { NewPane "Up"; SwitchToMode "normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
        bind "p" { SwitchFocus; SwitchToMode "Normal"; }
        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "z" { TogglePaneFrames; SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
        bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
    }
    tab clear-defaults=true {
        bind "Alt t" "Ctrl c" "Esc" "Enter" { SwitchToMode "normal"; }
        bind "h" { GoToPreviousTab; SwitchToMode "normal"; }
        bind "l" { GoToNextTab; SwitchToMode "normal"; }
        bind "n" { NewTab; SwitchToMode "normal"; }
        bind "x" { CloseTab; SwitchToMode "normal"; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; }
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "Tab" { ToggleTab; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
    }
    move clear-defaults=true {
        bind "Alt m" "Ctrl c" "Esc" "Enter" { SwitchToMode "normal"; }
        bind "h" { MovePane "Left"; SwitchToMode "normal"; }
        bind "j" { MovePane "Down"; SwitchToMode "normal"; }
        bind "k" { MovePane "Up"; SwitchToMode "normal"; }
        bind "l" { MovePane "Right"; SwitchToMode "normal"; }
        bind "p" { MovePaneBackwards; SwitchToMode "normal"; }
        bind "n" { MovePane; SwitchToMode "normal"; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
    }
    scroll clear-defaults=true {
        bind "Alt s" "Ctrl c" "Esc" "Enter" { ScrollToBottom; SwitchToMode "normal"; }
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
        bind "Ctrl f" "l" { PageScrollDown; }
        bind "Ctrl b" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }
    search clear-defaults=true {
        bind "Alt s" "Ctrl c" "Esc" "Enter" { ScrollToBottom; SwitchToMode "normal"; }
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "Ctrl f" "l" { PageScrollDown; }
        bind "Ctrl b" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "Down"; }
        bind "p" { Search "Up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    resize clear-defaults=true {
        bind "Alt r" "Ctrl c" "Esc" "Enter" { ScrollToBottom; SwitchToMode "normal"; }
        bind "h" { Resize "Increase Left"; }
        bind "j" { Resize "Increase Down"; }
        bind "k" { Resize "Increase Up"; }
        bind "l" { Resize "Increase Right"; }
        bind "H" { Resize "Decrease Left"; }
        bind "J" { Resize "Decrease Down"; }
        bind "K" { Resize "Decrease Up"; }
        bind "L" { Resize "Decrease Right"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
    }
    locked clear-defaults=true {
        bind "Alt g" { SwitchToMode "normal"; }
    }
    entersearch clear-defaults=true {
        bind "Enter" { SwitchToMode "Search"; }
        bind "Esc" { SwitchToMode "Scroll"; }
    }
    renamepane clear-defaults=true {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
    renametab clear-defaults=true {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    session clear-defaults=true {}
    tmux clear-defaults=true {}
}

ui {
    pane_frames {
        rounded_corners true
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
}

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
// simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Choose the path to override cwd that zellij will use for opening new panes
//
// default_cwd ""

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames true

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
auto_layout true

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
    dracula {
        fg 248 248 242
        bg 40 42 54
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        orange 255 184 108
        cyan 139 233 253
        black 0 0 0
        white 255 255 255
    }
}
themes {
    one-half-dark {
        fg 220 223 228
        bg 40 44 52
        black 27 29 35
        red 227 63 76
        green 152 195 121
        yellow 229 192 123
        blue 97 175 239
        magenta 198 120 221
        cyan 86 182 194
        white 233 225 254
        orange 216 133 76
    }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
/* theme "one-half-dark" */
theme "dracula"

// The name of the default layout to load on startup
// Default: "default"
//
default_layout "disable-status-bar"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
// default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
 scroll_buffer_size 20000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"
